/*
┌────────────────────────────┐
│░█░█░█░░░█▀█░█▀▀░█▀█░█░█░▀█▀│
│░█▄█░█░░░█░█░█░█░█░█░█░█░░█░│
│░▀░▀░▀▀▀░▀▀▀░▀▀▀░▀▀▀░▀▀▀░░▀░│
└────────────────────────────┘
*/

/* @import 'colors.css'; */

/* -----------------------------------------------------
 * General
 * ----------------------------------------------------- */

* {
    font-family: "JetBrainsMono Nerd Font", Roboto, sans-serif;
	background-image: none;
	box-shadow: none;
	all:unset;
}

window {
	background-color: rgba(13, 17, 23, 0.8);
	font-size: 21pt;
	font-weight: bold;
	color: #f0f6fc;

}

button {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 28%;
	transition: all 0.35s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:focus {
    background-size: 35%;
	border: 0px;
	color: #79c0ff;
}

button:hover {
    color: #79c0ff;
    background-size: 38%;
}

/*
-----------------------------------------------------
Buttons
-----------------------------------------------------
*/

#lock {
	background-image: image(url("icons/lock.png"));
}

#lock:hover,
#lock:focus {
	background-image: image(url("icons/lock-hover.png"));
}

#logout {
	background-image: image(url("icons/logout.png"));
}

#logout:hover,
#logout:focus {
	background-image: image(url("icons/logout-hover.png"));
}

#suspend {
	background-image: image(url("icons/suspend.png"));
}

#suspend:hover,
#suspend:focus {
	background-image: image(url("icons/suspend-hover.png"));
}

#hibernate {
	background-image: image(url("icons/hibernate.png"));
}

#hibernate:hover,
#hibernate:focus {
	background-image: image(url("icons/hibernate-hover.png"));
}

#shutdown {
	background-image: image(url("icons/shutdown.png"));
}

#shutdown:hover,
#shutdown:focus {
	background-image: image(url("icons/shutdown-hover.png"));
}

#reboot {
	background-image: image(url("icons/reboot.png"));
}

#reboot:hover,
#reboot:focus {
	background-image: image(url("icons/reboot-hover.png"));
}
